<nav class="navbar navbar-inverse bg-inverse">
    <!-- <img src="/assets/img/logo.svg" class="d-inline-block align-top" alt=""> -->
	<a class="navbar-brand" href="#">cuello_dev</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Portfolio</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
    <div class="navbar-nav right">
      <a class="nav-item nav-link" href="#"><img src="assets/img/instagram.svg"></a>
      <a class="nav-item nav-link" href="#"><img src="assets/img/github-sign.svg"></a>
      <a class="nav-item nav-link" href="#"><img src="assets/img/linked-in-square-button.svg"></a>
    </div>
  </div>
</nav>