/* You can add global styles to this file, and also import other style files */
body{
	background: #4A4B54;
  	overflow-x: hidden;
  	  overflow: hidden;
  	      -webkit-overflow-scrolling: auto!important;

}

 


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.dot {
	  height: 200px;
	  width: 100px;
	  background-color: rgba(67,188,209,.25);
 	  border-bottom-left-radius : 50%;
	  display: inline-block;
	  position: absolute;
	  right:0px;
	  top:0px;
	  z-index: -1;
	  display: none;
	}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.dot {
	  height: 350px;
	  width: 350px;
	  background-color: rgba(67,188,209,.25);
	  border-radius: 50%;
	  display: inline-block;
	  position: absolute;
	  right:-175px;
	  top:-175px;
	  z-index: -1;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	.dot {
	 	height: 450px;
	  	width: 450px;
	  	background-color: rgba(67,188,209,.25);
	  	border-radius: 50%;
	  	display: inline-block;
	  	position: absolute;
	  	right:-225px;
	  	top:-225px;
	  	z-index: -1;
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.dot {
	 	height: 600px;
	  	width: 600px;
	  	background-color: rgba(67,188,209,.25);
	  	border-radius: 50%;
	  	display: inline-block;
	  	position: absolute;
	  	right:-350px;
	  	top:-350px;
	  	z-index: -1;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.dot {
	  height: 700px;
	  width: 700px;
	  background-color: rgba(67,188,209,.25);
	  border-radius: 50%;
	  display: inline-block;
	  position: absolute;
	  right:-445px;
	  top:-445px;
	  z-index: -1;
	}
}